{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Farming Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white white_shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3 class="textgreen">E-Farming Portal</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if role is None and user_id is None %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'efarm'%}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about'%}">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all-categories'%}">All Categories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all-products'%}">All Products</a>
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{%url 'login' role='farmer'%}">Farmer</a>
                                <a class="dropdown-item" href="{%url 'login' role='customer'%}">Customer</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{%url 'login' role='admin'%}">Admin</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration'%}">Registration</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact'%}">Contact</a>
                    </li>
                    {% endif %} {% if role is not None and user_id is not None %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">{{user.username}}</a>
                                <a class="dropdown-item" href="#">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
                            </div>
                        </div>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 sidebar sidebar-collapse bg_green pt-3" id="sidebar"
            style="height: 90vh; margin-top: -23px; position: fixed">
            <a href="{% url 'dashboard' role=role user_id=user_id %}" class="nav-link text-white">Dashboard</a>
            <a href="{% url 'products' role=role user_id=user_id %}" class="nav-link text-white">Products</a>
            {% if role == 'admin' %}
            <a href="{% url 'categories' role=role user_id=user_id %}" class="nav-link text-white">Categories</a>
            <a href="{% url 'farmers' role=role user_id=user_id %}" class="nav-link text-white">Farmers</a>
            <a href="{% url 'customers' role=role user_id=user_id %}" class="nav-link text-white">Customers</a>
            <a href="" class="nav-link text-white">Transactions</a>
            <a href="" class="nav-link text-white">Complaints</a>

            {%endif%} {% if role == 'farmer' %}
            <a href="" class="nav-link text-white">My sales</a>
            {%endif%} {% if role == 'customer' %}
            <a href="" class="nav-link text-white">Orders</a>
            {%endif%}
        </div>

        <div class="col-md-10 ml-auto">
            <div class="container-fluid p-3 mb-5 pb-5">
                {%block content%} {%endblock%}
            </div>
        </div>
    </div>

    <footer class="bg_green text-white fixed-bottom p-3 mt-5">
        <h5 class="text-center">CopyRight &copy;2024|Hakateq Solutions</h5>
    </footer>
 
    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) { // Start from index 1 to skip header row
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    var cell = td[j];
                    if (cell) {
                        txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toLowerCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break; // Show the row if any cell matches
                        } else {
                            tr[i].style.display = "none"; // Hide the row if no cell matches
                        }
                    }
                }
            }
        }



    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>